@font-face {
  font-family: "rozhaone";
  src: url(../public/fonts/rozhaone.ttf);
}

body {
  font-family: "rozhaone";
}

h1,
h2,
h3 {
  margin: 0;
}

.emoji {
  font-size: 1.5rem
}

.container {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.switch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pills-section {
  margin-top: 20px;
}