@font-face {
  font-family: "spacemono";
  src: url(../public/fonts/spacemono/bold.ttf);
}

@font-face {
  font-family: "stilltim";
  src: url(../public/fonts/stilltim.ttf);
}

body {
  font-family: "spacemono";
}

h1,
h2,
h3 {
  margin: 0;
}

.purple-rain-font {
  font-family: "stilltim";
  letter-spacing: 7px;
  font-size: 92px;
  text-shadow: 1px 1px #e6dc6e;
  color: #7b61ab;
}

.emoji {
  font-size: 1.5rem
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.purple-rain-bg {
  background-image: url(./../public/img/purplerain.png);
  background-position: top center;
  background-size: cover;
}

.beige-bg {
  background-color: #d8d6c8;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.switch-container {
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.else-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pills-section {
  max-width: 280px;
  margin-top: 20px;
}