@font-face {
  font-family: "spacemono";
  src: url(../public/fonts/spacemono/bold.ttf);
}

@font-face {
  font-family: "stilltim";
  src: url(../public/fonts/stilltim.ttf);
}

body {
  font-family: "spacemono";
}

h1,
h2,
h3 {
  margin: 0;
}

.purple-rain-font {
  font-family: "stilltim";
  letter-spacing: 2px;
  font-size: 68px;
  text-shadow: 1px 1px #cfc662;
  color: #7b61ab;
}

.emoji {
  font-size: 1.5rem
}

.container {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.switch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pills-section {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}